body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
    background-color: #272727;
}

.source {
position: absolute;
}

.target {
position: relative;
}

#target.dragover {
    border-color: #218838;
    background-color: #e6ffe6;
}
