body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;    
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #272727;
}

.source {
position: absolute;
}

.target {
position: relative;
}

#target.dragover {
    border-color: #218838;
    background-color: #e6ffe6;
}

.image-container {
    display: flex;
   justify-content: space-around; /* Ajusta la separación entre los contenedores */
    align-items: center;
    margin-top: 20px;
}

.image-container img {
     max-width: 45%; /* Ajusta este valor según sea necesario */
}

.image-container {
    display: flex;
   /* Agrega margen superior si es necesario */
}

.source, .target {
    border: 1px solid #ccc; /* Añade un borde para distinguir los contenedores */
    padding: 10px;
}
